 @font-face {
	font-family: 'Glass TTY VT220';
	src: url('fonts/Glass_TTY_VT220.ttf') format('truetype');
}

:root {
	color-scheme: light dark;
}

body {
	background-color: light-dark(white, black);
	color: light-dark(#f9069f, #06fa61);
	font-family: 'Glass TTY VT220', monospace;
	text-align: center;
	width: 100vw;
	height: 100vh;
}

h1 {
	font-size: 28px;
	text-align: center;
	padding: 5px;
	border: medium dashed light-dark(rgba(249,6,159,.5), rgba(6, 250, 97, .5));
	border-radius: 5px;
	display: inline-block;
}

h2 {
	font-size: 24px;
	font-style: italic;
	text-align: center;
	border-radius: 5px;
	display: inline-block;
}

p {
	font-size: 16px;
	text-align: left;
}

ul {
	list-style-type: none;
	padding: 0;
	text-align: center;
	width: 50%;
	margin: auto;
}

li {
	margin-bottom: 10px;
}

a:link {
	color: light-dark(#f9069f, #06fa61);
}

a:visited {
	color: light-dark(#b8167d, #0fbd18);
}

a:hover,
a:active {
	color: light-dark(#f9069f, green);
} 

.website-icon {
	width: 200px;
	height: 220px;
	background-image: url('images/website_icon_inverted.jpg'); 
  } 
  
  @media (prefers-color-scheme: dark) {
	.website-icon {
	  background-image: url('images/website_icon.jpg');
	}
  } 
